@media only screen and (max-width: 600px) {
body {
    margin: 0px;
    font-family:  sans-serif;
    color: red;
  }
}
@media only screen and (min-width: 600px) {
    body {
        margin: 0px;
        font-family:  sans-serif;
        color: #777;
      }
      
      .header {
        padding-left:0%;
        background: #000;
        color: #eee;
      }
      
      .header ul {
        padding-left :8%;
        margin-top: 0px;
        list-style: none;
        display: flex;
        /* margin : 10px; */
      }
      
      .header ul li {
        color:#aaa;
        padding: 12px;
      }
}

